<nav>
  <div class="site-title">
    <a href="/"><h1>Tryst With Logos</h1></a>
    <p>Post your blogs here</p>
  </div>
  <ul>
    <li><a href="/blogs">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>