<html lang="en">
<%- include("./partials1/head.ejs") %>

<body>
  <%- include("./partials1/nav.ejs") %>

  <div class="not-found content">
    OOPS, page not found :)
  </div>

  <%- include("./partials1/footer.ejs") %>
</body>
</html>